@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');


/* الموبايل */
@media (max-width: 576px) {
  nav ul {
    flex-direction: column;   /* يخلي المنيو تنزل تحت بعض */
    text-align: center;
  }

  .menu-item {
    width: 100%;   /* كل صنف قهوة ياخد العرض كله */
    margin-bottom: 15px;
  }

  .reservation form {
    width: 100%;
    padding: 10px;
  }

  h1, h2, h3 {
    font-size: 18px;
  }
}

/* التابلت */
@media (min-width: 577px) and (max-width: 992px) {
  .menu-grid {
    grid-template-columns: 1fr 1fr; /* يخلي المنيو عمودين */
  }

  .reservation form {
    width: 80%;
  }
}

/* الكمبيوتر */
@media (min-width: 993px) {
  .menu-grid {
    grid-template-columns: 1fr 1fr 1fr; /* 3 أعمدة أو حسب التصميم */
  }
}

img {
  max-width: 100%;
  height: auto;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color:#f1f1f1;
    --bg-secendary:#fbfbfb;
    --dark-gray:#333;
    --light-brown:#c7a17a;
    --black:#1f2226;
}

body{
      font-family: "Open Sans", sans-serif;
      background-color: var(--bg-color);

}

h1,h2,h3{
    font-family: "Oswald", sans-serif;
    color: var(--dark-gray);
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

/* utility classes */
.container {
    max-width: 1200px;
    margin: auto;
}

.text-primary {
    color: var(--light-brown);
}

.heading {
    text-align: center;
}

.heading span {
    font-size: 18px;
}

.heading h2 {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
}

/*Header Start*/
#header{
    position: fixed;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

#header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    height: 90px;
}

#header .navbar .logo{
    width: 300px;
}

#header .navbar ul{
    display: flex;
}

#header .navbar ul li a {
    color: var(--dark-gray);
    font-size: 18px;
    margin: 0 20px;
    font-weight: 500;
    transition: 0.3s ease;
}

#header .navbar ul li a:hover {
    color: var(--light-brown);
}
/*Header End*/

/* Home Start*/
#home{
    background: url(imag/home-bg.png) center no-repeat; 
    background-size: 100%;
    background-color: var(--bg-color);
}

#home .home-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    min-height: 100vh;
    gap: 3rem;
    align-items: center;
}

#home .home-content .content-text h3 {
    font-size: 24px;
    font-weight: 400;
}

#home .home-content .content-text h1 {
    font-size: 50px;
    margin: 20px 0;
    line-height: 1.3;
}

#home .home-content .content-text p {
    font-size: 18px;
    line-height: 1.5; 
}

#home .home-content .content-text .btn {
    display: inline-block;
    margin-top: 2rem;
    background-color: var(--light-brown);
    color: #fff;
    padding: 15px 25px;
    border-radius: 30px;
}

#home .home-content .content-text .btn:hover{
    background-color: var(--dark-gray);
    transition: 0.7s ease;
}

#home .home-content .content-text .btn i {
    margin-left: 5px;
}

#home .home-content img {
    display: block;
    width: 100%;
}
/* Home End*/

/* About Start */
#about,
#menu
 {
    padding:6rem ;
}

#about .row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}

#about .row .about-content h2 {
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 10px;
}

#about .row .about-content .item {
    margin: 2rem 0;
}

#about .row .about-content .item h3 {
    margin-bottom: 5px;
}
/* About End */

/* Menu Start */
#menu {
    background-color: var(--bg-secendary);
}

#menu .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem;
    gap: 5rem;
    align-items: center;
}

#menu .row .col .item {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    border: 1px solid #ddd;
    padding: 25px 20px;
}

#menu .row .col .item img {
    width: 70px;
margin-left: -50px;

width: 120px;       /* عرض الصورة */
  height: 120px;      /* طول الصورة */
  object-fit: cover;  /* يخلي الصورة تتظبط جوه البوكس من غير ما تتمدد */
  border-radius: 8px; /* يخلي الزوايا ناعمة (اختياري) */
}


#menu .row .col .item .details {
    margin: 20px;
}

#menu .row .col .item .details h3 {
    font-size: 14px;
    margin-bottom: 10px;
}

#menu .row .col .item .details p {
    font-size: 14px;
    line-height: 1.6;
}

#menu .row .col .item .details .price {
    border-left: 1 px solid #eee;
    padding: 20px;
    margin: auto;
}

#menu .row .col .item .details .price p {
    font-size: 20px;
    font-weight: 600;
}
/* Menu End */

/* Contact Start */

#contact {
    background-color: var(--bg-color);
}

#contact .row {
    display: grid;
    grid-template-columns: 2fr 4fr;
    margin: 2rem;
}

#contact .row .contact-content {
    background-color: #fff;
    padding: 100px;
}

#contact .row .contact-content h3 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 500;
}

#contact .row .contact-content form input,
#contact .row .contact-content form textarea {
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 15px;
    border: 1px solid #ccc;
}

#contact .row .contact-content form .btn-submit {
    background-color: var(--black);
    width: 100%;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
    cursor: none;
    transition: all 0.3s ease;
}

#contact .row .contact-content form .btn-submit:hover {
    background-color: var(--light-brown);
}
/* Contact End */

/* Footer Start */
#footer .footer-top{
    background-color:black;
    color: #fff;
}

#footer .footer-top .row{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 3rem;
}

#footer .footer-top .row .col h3{
    color: #fff;
    margin-bottom: 15px;
}

#footer .footer-top .row .col p{
    width: 400px;
    line-height: 1.6;
}

#footer .footer-top .row .col ul li {
    margin: 10px 0;
}

#footer .footer-top .row .col ul li i {
    margin-right: 10px;
}

#footer .footer-top .row .col ul li a {
    color: #fff;
}

#footer .copyright {
    background-color: var(--dark-gray);
    padding: 30px;
    text-align: center;
    color: #fff;
}

#footer .copyright p a {
    color: #fff;
    transition: all 0.3s ease;
}

#footer .copyright p a:hover {
    color: var(--light-brown);
}

/* Footer End */